.bodybg{
    background-color: #313131;
    color: #ffffff;
}

.imgsize{
    height: 25em;
    width: 35em;
    padding-top: 2em;
}

.parapadd{
    padding-left: 1em;
    padding-right: 1em;
}

.navbackground{
    background-color: #ffb037;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item{
    color: white;
}

.textedit{
    text-decoration: none;
    color: white;
    padding-bottom: 0.2em;
}

.navmagnet{
    display: flex;
    justify-self: end;
}

.largetxt{
    font-size: 1.2em;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 .dropdown-toggle::after {
    content: none;
}



